.main-navigation {
  position: sticky;
  top: 1rem;
  z-index: 99999;
  &__nav {
    display: none;

    @media (min-width: '1024px') {
      display: block;
    }
  }

  &__button {
    padding: 0;
    border: none;
    background: none;
    font-family: 'Questrial', sans-serif;
    font-size: 1rem;
    color: #000;

    @media (min-width: '1024px') {
      display: none;
    }
  }

  &__logo {
    color: black;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.overlay-enter-active,
.overlay-leave-active {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 0.5s;
}
.overlay-enter-from,
.overlay-leave-to {
  opacity: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
